.box1{
     background-color: aliceblue;
     width: 700px;
     margin: 0 auto;
     padding: 20px;
     margin-bottom:20px;
 }
 .nav{
     align-items: center;
     justify-content: space-between;
     display: flex;  
  }
 .child{
     gap: 15px;
     display: flex;
 }
 .child li{
     display: flex;
     padding: 8px;
  }
 .list-child{
     background-color: burlywood;
     color: brown;
  }
   .x{
     display: flex;
     gap: 30px;
  }
  .m{
     width: 350px;}


.box2{
     background-color:beige;
     width: 700px;
     margin:0 auto;  
     text-align: center;
     padding: 20px;
     margin-bottom: 20px;
 }
 .n{
     display: flex;
     gap: 100px;
 }


 .box3{
     background-color: white;
     width: 700px;
     margin: 0 auto;
     padding: 20px;
     text-align: center;
     margin-bottom: 20px;
 }
.bo3{
     display: flex;
     gap: 30px;
 }
 .bo3>div{
     background-color: aliceblue;
 }
 img{
     width: 40px;
 }


.box4{
     background-color: whitesmoke;
     width: 700px;
     padding: 20px;
     margin: 0 auto;
     text-align: center;
     margin-bottom: 20px;
 }
 .bo4{
     display: flex;
     gap: 30px;
 }
 .b4{
     background-color: chocolate;
     color: black;
     padding: 10px;
 }


.box5{
     display: flex;
     width: 700px;
     padding: 20px;
     background-color: ghostwhite;
     margin: 0 auto;
     margin-bottom: 20px;
 }  
 .fo5{
     gap: 30px;
     padding: 8px;
 }
 .b5{
     background-color: chocolate;
     padding: 8px;
     width: 100px;
 }
 label input{
     padding: 10px;
     margin: 10px;
 } 