.con1{
    display: flex;
    width: 500px;
    background-color: aliceblue;
    margin: 0 auto;
  }
  .but1{
    background-color: chocolate;
    padding: 8px;
    width: 100px;
  }
  .im1{
    width: 250px;
  }

  
.con2{
    width: 750px;
    margin: 0 auto;
    text-align: center;
    background-color: aquamarine;
  }

  .let{
   text-align: center;
  }
  .o{
   display: flex;
   gap: 30px;
  }
  .o>im{
   width: 0px;
  }